.app {
  width: 800px;
  margin: 0 auto;

}

//responsive
$breakpoints : (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@media screen and (max-width: map-get($breakpoints, "md")) {
  .app {
    width: 100%;
  }
}


