$title-size: 1.4em;
$grey-light: rgba(128, 128, 128, 0.096);
$orange: #F18042;

.etapes {
  margin-bottom: 2rem;
  padding: 2rem;
  background-color: $grey-light;
  border-radius: 1rem;

  .etapes-title {
    font-size: $title-size;
    margin-bottom: 1em;
  }
}

.etape {
  padding-left: 2rem;
  margin: 1rem 0;
  line-height: 1.2;
  position: relative;

  &::before {
    content: "";
    width: 1.2rem;
    height: 5px;
    background: $orange;
    display: block;
    position: absolute;
    left: 0;
    top: .7rem;
  }
}
